.product {
    border: 1px solid lightslategray;
    border-radius: 10px;
    padding-bottom: 30px;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    box-shadow: 5px 5px 5px lightblue;

}

.product-img {
    overflow: hidden;
}

.product-img img {
    transition: all 1.5s ease;
    height: 250px;
    margin-top: 10px;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.product-img:hover img {
    transform: scale(1.5);
}