.img img {
    width: 450px;
    height: 450px;
}

.form {
    box-shadow: 1px 1px 5px 5px lightblue;
    padding-left: 70px;
    border-radius: 10px;
    width: 450px
}

.form-gorup {
    margin-top: 60px;
}

input {
    width: 300px;
    margin-bottom: 20px;

}

@media only screen and (max-width:900px) {
    .contact-container {
        display: flex;
        flex-direction: column;
        align-items: stretch;

    }

    .form {
        margin-top: 50px;
        width: 350px;
        padding-left: 40px;

    }

    input {
        width: 250px;

    }


}